body {
    background: url("../img/cyberpunk-bkgrd.png") no-repeat center center fixed;
    height:205px;
    width: 100%;
    width: 100vw;
    background-position:bottom right;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body ul {
    display: flex;
    justify-content: center;
}

.content  {   
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.content h1 {
    font-size: 350%;
    margin-left: 1%;
    margin-top: 20%;
    font-family: Impact;
    letter-spacing: 1.5px;
    color: #cdd9e4;
    vertical-align:top
}

h1 {
    animation: fading 10s infinite
}

@keyframes fading {
    0% {
        opacity: 0.4
    } 50% {
        opacity: 1
    } 100% {
        opacity: 0.4
    }
}

h2 {
    color: white;
    text-align: center;
    justify-items: center;
}

h3 {
    font-family: Verdana;
    font-size: 110%;
    min-width: 285px;
    color: hsla(326, 66%, 52%, 1);
}

blurb {
    font-size: 110%;
    max-width: 40%;
    min-width: 285px;
    margin-top: -3%;
    background-color: hsla(240, 30%, 12%, 0.388);
    color: hsla(326, 66%, 52%, 1);
    font-weight: bold;
}