* {
  box-sizing: border-box;
  border: 0px solid red;
  margin: 0;
  padding: 0;
  border-color: pink;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
}

li {
  float: inline-start;
  display: block;
  text-align: center;
  padding: 14px 16px;
  background-color: pink;
}

li:hover {
  background-color: yellow;
}